<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Table Reservation - About Us </title>  
<link rel="stylesheet" type="text/css" href="../Styles/styling.css">   
</head>
<header>
    <a href="homescreen.html">
        <h3 class="header-logo"> RESTAURANT RESERVATION </h3>
    </a>
    <div class="navigation">
      <nav>
        <ul>
          <li><a href="reservations.html">Your Reservations</a></li>
          <li><a href="payments.html">Payment Info</a></li>
          <li><a href="reserving.html">Reserve Table</a></li>
          <li><a href="myaccount.html">My Profile</a></li>
          <li><a href="aboutpage.html">About Us</a></li>
          <li><a href="loginscreen.html">Logout</a></li>
        </ul>
      </nav>
    </div>
</header>
<body>
    <br> <br> <center> <h1 style="color: white; font-family: Yeseva One;">About Us</h1> </center>   
    <form>
        <div class="container">
            <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="res_address"><b>Our Address: </b></label>
            <br>
            1234 Random St, Houston, TX 77008
            <br>
            <br>
            <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="contact"><b>Contact Us: </b></label>
            <br>
            restaurant@gmail.com
            <br>
            +1 (713) 324 5236
            <br>
            <br>
            
        </div>
    </form>
</body>
</html>