{% extends "basepage.html" %}
{% block title %}
    Table Reservation - About Us
{% endblock %}
{% block content%}

<head> 
<link rel="stylesheet" type="text/css" href="../static/Styles/styling.css">   
</head>

<form method = "POST">
<body>
    <center> <h1 style="color: black; font-family: Yeseva One;">About Us</h1> </center>   
        <div class="container">
            <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="res_address"><b>Our Address: </b></label>
            <br>
            1234 Random St, Houston, TX 77008
            <br>
            <br>
            <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="contact"><b>Contact Us: </b></label>
            <br>
            restaurant@gmail.com
            <br>
            +1 (713) 324 5236
            <br>
            <br>
            
        </div>

</body>
</form>
{% endblock %}