{% extends "basepage.html" %}
{% block title %}
    Table Reservation - Home/Guest Page
{% endblock %}
{% block content%}

<head>    
<link rel="stylesheet" type="text/css" href="../static/Styles/styling.css">   
</head>

<form method = "POST">
<body>
        <center> <h1 style="color: black; font-family: Yeseva One;">Guest Reservation</h1> </center>   
        <div class="container">
            <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="name">Name: </label>
                <input 
                    type="text" 
                    id ="name"
                    name="name"
                    placeholder="Enter name"
                    maxlength = "50" 
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="email">Email: </label>
                <input 
                    type="email"  
                    id="email"
                    name="email" 
                    placeholder="Enter email"
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="phone">Phone Number: </label>
                <input 
                    type="tel" 
                    id="phone" 
                    name="phone" 
                    placeholder="Enter phone number"
                >       
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="guests">Number of Guests: </label>
                <input
                    type="number"
                    id="guests" 
                    name="guests"
                    placeholder="Enter number of guests"  
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="res_date">Date: </label>
                <input 
                    type="date"
                    id="res_date"  
                    name="res_date" 
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="res_time">Time: </label>
                <input 
                    type="time"
                    id="res_time"      
                    name="res_time"
                    required
                >
               
               <center>       
                   <h1 style="font-size:large" style="color:rgb(4, 0, 255)">Do not have an account with us? Join us for member rewards! <a href="/registerpage"> Sign Up </a>  </h1>
               </center>
               <button type="submit">SUBMIT </button>               
        </div>
</body>
</form>
{% endblock %}