<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Table Reservation - Payment Info </title>  
<link rel="stylesheet" type="text/css" href="../Styles/styling.css">   
</head>
<header>
    <a href="homescreen.html">
        <h3 class="header-logo"> RESTAURANT RESERVATION </h3>
    </a>
    <div class="navigation">
      <nav>
        <ul>
          <li><a href="reservations.html">Your Reservations</a></li>
          <li><a href="payments.html">Payment Info</a></li>
          <li><a href="reserving.html">Reserve Table</a></li>
          <li><a href="myaccount.html">My Profile</a></li>
          <li><a href="aboutpage.html">About Us</a></li>
          <li><a href="loginscreen.html">Logout</a></li>
        </ul>
      </nav>
    </div>
</header>
<body>
    <br> <br> <center> <h1 style="color: white; font-family: Yeseva One;">Credit Card Information</h1> </center>   
    <form>
        <div class="container">
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="card_no">Card Number: </label>
                <input 
                    type="number"  
                    id="card_no"
                    name="card_no"
                    placeholder="Enter credit card number"
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="cvv">Security Code: </label>
                <input 
                    type="number"  
                    id="cvv"
                    name="cvv"
                    placeholder="Enter CVV"
                    required
                >
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="exp_date">Expiration Date: </label>
                <input 
                    type="month"  
                    id="exp_date"
                    name="exp_date"
                    placeholder="Enter expiration date"
                    required
                >
                <label style="font-size:larger" style="color:rgb(0, 0, 0)" for="card_name">Name on Card: </label>
                <input 
                    type="text" 
                    id ="card_name"
                    name="card_name"
                    placeholder="Enter name on credit card"
                    required
                >
 
                <label  style="font-size:larger" style="color:rgb(0, 0, 0)" for="bill_address">Billing Address: </label>
                <input 
                    type="text" 
                    id="bill_address" 
                    name="bill_address" 
                    placeholder="Enter billing address"
                    required
                >       
                
               
               <button type="submit">SUBMIT </button>               
        </div>
    </form>
</body>
</html>