<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Table Reservation - Your Reservations </title>  
<link rel="stylesheet" type="text/css" href="../Styles/styling.css">   
</head>
<header>
    <a href="homescreen.html">
        <h3 class="header-logo"> RESTAURANT RESERVATION </h3>
    </a>
    <div class="navigation">
      <nav>
        <ul>
          <li><a href="reservations.html">Your Reservations</a></li>
          <li><a href="payments.html">Payment Info</a></li>
          <li><a href="reserving.html">Reserve Table</a></li>
          <li><a href="myaccount.html">My Profile</a></li>
          <li><a href="aboutpage.html">About Us</a></li>
          <li><a href="loginscreen.html">Logout</a></li>
        </ul>
      </nav>
    </div>
</header>
<body>
    <br> <br> <center> <h1 style="color: white; font-family: Yeseva One;">Your Reservations</h1> </center>   
    <form>
        <div class="tablebox">
                
           <table>
              <thead>
                <tr>
                    <center>
                    <th>Guest Name</th>
                    <th>Reservation ID</th>
                    <th>Reservation Date</th>
                    <th>Reservation Time</th>
                    <th>Number of Guests</th>
                    </center>
                </tr>
                </thead>
              <tbody>
                <tr>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                </tr>
                <tr>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>        
                </tr>
                <tr>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>        
                </tr>
                <tr>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>
                    <td><center>-</center></td>        
                </tr>
              </tbody>
           </table>   
        </div>
    </form>
</body>
</html>